.box{
    border: 2px solid tomato;
    padding: 15px;
    margin: 15px;
    border-radius: 15px;
    background-color: aquamarine;
}
.box-container{
    border: 2px solid red;
    padding: 15px;
    border-radius: 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.img-container{
    height: 200px;
    width: 200px;
    border-radius: 20px;
}